.grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-inline: 5vw;
	.grid-card {
		text-align: center;
		padding: 3rem;
		// align-self: center;
	}
	.grid-image {
		width: 65px;
		height: 65px;
		object-fit: contain;
	}
	.grid-desc {
		color: rgb(103, 103, 103);
	}
	.grid-title {
		font-weight: 500;
	}
}
