.linear-progressbar {
	display: flex;
	margin-right: 7vw;
	margin-left: 7vw;
	margin-top: 7vh;
	.linear-progress {
		border: 1px solid #eaebf7;
		border-radius: 30px;
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		margin-top: -10px;
		font-size: 20px;
	}
}
@media only screen and (max-width: 768px) {
	.linear-progressbar {
		margin-top: 15vw;
		margin-bottom: 15vw;
		align-items: center;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none !important ;
		}
		.linear-progress {
			border: 1px solid #eaebf7;
			border-radius: 90px;
			height: 90px;
			width: 90px;
			margin-top: 0;
			font-size: 30px;
		}
		.progress-hr {
			width: 50px;
		}
		.linear-progress-desc {
			display: none;
		}
	}
}
