.calendar-card {
	display: flex;
	justify-content: space-between;
	margin-left: 7vw;
	margin-right: 7vw;
	padding-right: 2vw;
	margin-top: 4rem;
	margin-bottom: 5rem;
	align-items: center;
	border: 1.8px solid #ededed;
	border-radius: 12px;
	.calendar-img {
		height: 165px;
		object-fit: contain;
	}
	.calendar-text {
		text-align: right;
		.calendar-header {
			color: #009dfe;
			font-size: 17px;
			line-height: 1;
		}
		.calendar-desc {
			font-size: 21px;
			line-height: 1;
		}
	}
}

@media only screen and (max-width: 768px) {
	.calendar-card {
		flex-direction: column-reverse;
		.calendar-img {
			height: 265px;
			width: 90vw;
		}
		.calendar-text {
			text-align: center;
			padding-right: 5vh;
			padding-left: 5vh;
			.calendar-header {
				font-size: 20px;
			}
			.calendar-desc {
				font-size: 30px;
				line-height: 1.6;
			}
		}
	}
}
